@use "variables";
.Select-Wrapper{
  display: flex;
  gap: 15px;
  width: 100%;
  .Sort-Select{
    max-width: 200px;
  }
  .Sort-Submit-Btn{
    width: 150px;
    height: 56px;

  }
}
.Delete-Entry{
  cursor: pointer;
  font-size: 30px;
  transition: all .4s;
  &:hover{
    color: #525252;
    transform: scale(1.2);
  }
}