.Trashcan{
  cursor: pointer;
  scale: 1.2;
  transition: all .4s;
  margin-left: 10px;
  &:hover{
    color: #525252;
    transform: scale(1.2);
  }
}
.Save-Btn{
  transition: all .4s;
  cursor: pointer;
  &:hover{
    color: #525252;
    transform: scale(1.2);
  }
}